.elementor-101 .elementor-element.elementor-element-54a26d6 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 35px 0px 35px;
}

.elementor-101 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-101 .elementor-element.elementor-element-99ffd65>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-101 .elementor-element.elementor-element-c49eb21 {
    text-align: left;
    width: auto;
    max-width: auto;
    position: absolute;
    left: 0px;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0>.aux-item-content {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.5em;
    padding: 25px 25px 25px 25px;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0.aux-hover>.aux-item-content {
    color: #AAAAAA !important;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0.aux-hover {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0 {
    margin: 0px 15px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-item.aux-open>.aux-submenu {
    border-radius: 10px 0px 10px 0px;
}

.elementor-101 .elementor-element.elementor-element-d052931 .aux-fs-menu .aux-master-menu {
    text-align: left;
}

.elementor-101 .elementor-element.elementor-element-d052931>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-d052931 {
    width: auto;
    max-width: auto;
    position: static;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-101 .elementor-element.elementor-element-99ffd65 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-101 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-101 .elementor-element.elementor-element-c49eb21 {
        text-align: center;
    }
    .elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0 {
        margin: 0px 0px 0px 0px;
    }
    .elementor-101 .elementor-element.elementor-element-d052931>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-101 .elementor-element.elementor-element-d052931 {
        width: auto;
        max-width: auto;
        position: static;
    }
}

@media(max-width:767px) {
    .elementor-101 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-101 .elementor-element.elementor-element-c49eb21 {
        text-align: left;
    }
    .elementor-101 .elementor-element.elementor-element-c49eb21 .aux-has-logo img {
        width: 33%;
    }
    .elementor-101 .elementor-element.elementor-element-d052931 {
        text-align: left;
        width: 100%;
        max-width: 100%;
    }
    .elementor-101 .elementor-element.elementor-element-d052931 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        text-align: left;
    }
    .elementor-101 .elementor-element.elementor-element-d052931 .aux-menu-depth-0>.aux-item-content {
        padding: 10px 10px 10px 10px;
    }
    .elementor-101 .elementor-element.elementor-element-d052931>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
}